<html>
    <head>
        <title>index page</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">

    </head>
    <body>
        <% include partial/nav.ejs %>
        <h1>contact success </h1>
       <p><%=data.who%></p>
       <p><%=data.depart%></p>
       <p><%=data.email%></p>
              
    </body>
</html>