<html>
    <head>
        <title>index page</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">

    </head>
    <body>
        <% include partial/nav.ejs %>
        <h1>Index  page </h1>
       
    </body>
</html>